# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\thala\Downloads\Rest-Piro-49ee8b3d766956b132d180f87d0f0a9d06b0bee5\Rest-Piro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
